**/dist/**
**/node_modules/**

packages/**/*.js
packages/**/*.d.ts

packages/**/lib/**

!packages/**/types/**/*.d.ts

!packages/@mr-hope/vuepress-plugin-pwa/lib/skip-waiting.js
!packages/vuepress-theme-hope/node/noopModule.js

!packages/**/tests/**/*.js

.vscode/
*.map
*.tsbuildinfo
